body {
	margin-left : 15%;
	margin-right : 15%;
	background-image : url(http://selab.hanyang.ac.kr/courses/cse326/2015/problems/images/3/blueTextureBG.jpg); 
	border: 10px solid white;
	
}

article{
	 border: 10px solid white;
	 background-color : white;
	 
}

header{
	
	 text-align : center;
	 background-color : #8E8E8E;
	 color : white;
	 overflow : hidden;
	
}

section{
	 border: 4px solid #1D2475;
	 background-color : #CCCCCC;
	 padding : 5px;
	 margin-top : 10px;
	 overflow : hidden;
	 border-radius : 15px;
	 
}

aside{
	float :left;
	border: 4px solid #1D2475;
	background-color : #3366CC;
	overflow : hidden;
	border-radius : 15px;
	margin-right : 10px;
	margin-top : 20px;
	margin-left : 0px;
	margin-bottom : 2100px;
	width : 10%; 
	color : #CCCCCC;
}

footer{
	 background-color : white;
}

p > img {
	float: right;	
}

a {
	color : orange;
	text-decoration: none;
}

header li{
	text-align : left;
	font-size : 14pt;
	color : #B7B7B7;	
}

section p:hover,ol:hover, section h2:hover,dl:hover, section ul:hover,table:hover,header ul:hover{
		background-color : #FFFF00;
}

section h2 {
    	text-align : right;
	    border-bottom: 2px dashed blue;
}

#box3{
	 text-align : right;
	 border-bottom: 2px dashed blue;
}

#smaller{
	text-align : left;
	font-size : 14pt;
	color : #B7B7B7;
	background-color : #FFFF00;
}

#edu:hover , fmo:hover{
	background-color : #FFFF00;
}


